$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.ageDiv{
  opacity: 0;
}

html {
  /*always show scrollbar*/
  overflow-y: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
.angular-google-map-container { height: 400px; }
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 50px;
}

// make Paul happy
a:visited {
	color: purple;
}

.sidebar {
//  position: absolute;
//  width: 200px;
//  height: 90%;
}

.content {
//  padding-left: 200px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  font-family: "EB Garamond";
  font-weight: 400;
  font-style: normal;
  h1{
    font-family: "Istok Web";
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 30px;
  }

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer, .footer a {
  padding-top: 16px;
  padding-bottom: 12px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


///* Responsive: Portrait tablets and up */
//@media screen and (min-width: 768px) {
//  .container {
//    max-width: 830px;
//  }
//
//  /* Remove the padding we set earlier */
//  .header,
//  .marketing,
//  .footer {
//    padding-left: 0;
//    padding-right: 0;
//  }
//  /* Space out the masthead */
//  .header {
//    margin-bottom: 30px;
//  }
//  /* Remove the bottom border on the jumbotron for visual effect */
//  .jumbotron {
//    border-bottom: 0;
//  }
//}


.nav-list li a {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

/* make sidebar nav vertical */
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }

  html,body{
    background-color: #f8f8f8;
    height: 100%;
//    overflow: hidden;
  }
  .affix-content .container .page-header{
    margin-top: 0;

  }

  .affix-sidebar{
    padding-right:0;
    font-size:small;
    padding-left: 0;
  }
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    overflow: scroll;
    margin-left: 0;
    margin-right: 0;
  }
  .affix-content{
//    padding-top: 20px;
//    margin-bottom: 10px;

  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0;
    margin-bottom:0;
    border:0;
  }
  .sidebar-nav .navbar ul {
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 10px;
//    float: none;
//    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
//    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .nav-list li a {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
  .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 992px){
  .affix-content .container {
    width: 900px;
  }
  .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: visible;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .affix-content{
    overflow: visible;
  }

//  .affix-content .container {
//    width: 1000px;
//  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }
  .affix-title{
    border-bottom: 1px solid #ecf0f1;
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
//  .sidebar-nav .navbar li a > .caret {
//    margin-top: 8px;
//  }


  .blurredElement {

    /* Any browser which supports CSS3 */
    filter: blur(3px);

    /* Firefox */
    filter: url("blur.svg#gaussian_blur");

    /* Webkit */
    -webkit-filter: blur(3px);

    /* Opera */
    -o-filter: blur(2px);
  }
  video{
    width: 100%;
    height: auto;
  }
}

.fade {
	opacity: 1;
	&.ng-hide-remove {
		animation: fadeInDown 0.5s;
	}
}

.fade2 {
	animation: fadeInDown 0.5s;

}

.beer {
	box-shadow: 2px 2px 2px lightgrey;
	margin-bottom: 10px;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	float: left;
	padding-top: 10px;
	width: 100%;
	height: 100%;
}

.checkbox {
	margin-left: 20px;
}

.agegateway {
	p {
		text-shadow: 1px 1px black;
	}
	.form-control {
		height: 60px;
		font-size: 1.2em;
		display: inline-block;
		margin: 0;
		text-align: center;
	}
}
