<h1>Alcohol free</h1>
<small>Visited: {{visited}}</small>
<br>
<p>Alcohol free beer is beer with no alcohol, which aim to reproduce the taste of beer without the inebriating 
effects of standard alcoholic brews.</p> 

<p>In the <a href="#/countries/unitedstates">United States</a>, beverages containing less than 0.5% alcohol by volume (ABV) were legally called
non-alcoholic, according to the now-defunct Volstead Act. Because of its very low alcohol content, non-alcoholic
beer may be legally sold to minors in many American states.</p>

In the <a href="#/countries/england">United Kingdom</a>, the following definitions apply by
law (correct as of May 2007):</p>

<ul>
    <li>No alcohol or alcohol-free: not more than 0.05% ABV</li>
    <li>Dealcoholised: over 0.05% but less than 0.5% ABV</li>
    <li>Low-alcohol: not more than 1.2% ABV</li>
</ul>

<p>In some parts of the European Union, beer must contain no more than 0.5% ABV if it is labelled "alcohol-free".</p>

<p>In <a href="#/countries/australia">Australia</a>, the term "light beer" refers to any
beer with less than 3% alcohol.</p>
