<h1>Extreme (>10% abv)</h1>
<small>Visited: {{visited}}</small>
<br>

<p>The strength of beers has climbed during the later years of the 20th century. 
Vetter 33, a 10.5% abv (33 degrees Plato, hence Vetter "33") doppelbock, was listed in the 1994
Guinness Book of World Records as the strongest beer at that time,though Samichlaus, by the Swiss 
brewer Hürlimann, had also been listed by the Guinness Book of World Records as the strongest at
14% abv. Since then, some brewers have used champagne yeasts to increase the alcohol content of 
their beers. Samuel Adams reached 20% abv with Millennium, and then surpassed that amount to 25.6%
abv with Utopias. In September 2011, the Scottish brewery BrewDog produced Ghost Deer, which, at 28%, 
they claim to be the world's strongest beer produced by fermentation alone. The product claimed 
to be the strongest beer made is Schorschbräu's 2011 Schorschbock 57 with 57,5%.</p>
