<h1>Amber</h1>
<small>Visited: {{visited}}</small>
<br>

<p>Amber <a href="#/types/ale">ale</a> is a term used in
<a href="#/countries/Australia">Australia</a>,
<a href="#/countries/France">France</a> and
<a href="#/countries/Unitedstates">North America</a> for
<a href="#/types/pale">pale ales</a>
brewed with a proportion of amber malt and sometimes crystal malt to produce an amber 
colour generally ranging from light copper to light brown. A small amount of crystal or other coloured
malt is added to the basic pale ale base to produce a slightly darker colour, as in some Irish and 
British pale ales.</p> 

<p>In France the term "ambrée" is used to signify a beer, either cold or warm 
fermented, which is amber in colour; the beer, as in Pelforth Ambrée and Fischer Amber, may be a 
Vienna lager, or it may be a Bière de Garde as in Jenlain Ambrée. In North America, American-variety hops 
are used in varying degrees of bitterness, although very few examples are particularly hoppy. 
In Australia the most popular Amber Ale is from Malt Shovel Brewery, branded James Squire in 
honour of Australia's first brewer, who first brewed beer in Sydney in 1794.</p>
