<h1>Blonde</h1>
<small>Visited: {{visited}}</small>
<br>

<p>Blonde <a href="#/types/ale">ales</a> are very pale in colour. The term "Blonde"
for <a href="#/types/pale">pale beers</a> is popular in Europe and
<a href="#/countries/southamerica">South America</a>
- particularly in <a href="#/countries/France">France</a>,
<a href="#/countries/Belgium">Belgium</a>,
<a href="#/countries/England">the UK</a>, and Brazil -
though the beers may not have much in common, other than colour. Blondes tend to be clear, crisp, and dry, 
with low-to-medium bitterness and aroma from hops, and some sweetness from malt. Fruitiness from esters may 
be perceived. A lighter body from higher carbonation may be noticed.</p> 

<p>Belgian blondes are often made with pilsner malt. Some beer writers regard blonde and 
<a href="#/types/golden">golden ales</a>
as distinct styles, while others do not.</p> 

