<h1>Brown</h1>
<small>Visited: {{visited}}</small>
<br>

<p>Brown <a href="#/types/Ale">ale</a> is a style of beer with a dark amber
or brown colour. The term was first used by London brewers in the late 17th century to describe their products,
such as mild ale, though the term had a rather different meaning than it does today. 18th-century brown ales 
were lightly hopped and brewed from 100% brown malt.</p>

<p>Today there are brown ales made in several regions, most notably 
<a href="#/countries/England">England</a>,
<a href="#/countries/Belgium">Belgium</a> and
<a href="#/countries/UnitedStates">America</a>. Beers termed brown ale include sweet,
low alcohol beers such as 
Manns Original Brown Ale, medium strength <a href="#/types/Amber">amber beers</a> of moderate bitterness such as Newcastle Brown Ale,
and malty but hoppy beers such as Sierra Nevada Brown Ale.</p>
