<h1>Golden</h1>
<small>Visited: {{Golden.visited}}</small>
<br>

<p>In the <a href="http://abeerfor.me/#/countries/England">United Kingdom</a>, golden or summer ales were 
developed in the late 20th century by breweries to compete with the 
<a href="http://abeerfor.me/#/types/Lager">pale lager</a> market. 
A typical golden ale has an appearance and profile similar to that of a pale lager. 
Malt character is subdued and the hop profile ranges from spicy to citrus; common hops include 
Styrian Golding and Cascade. Alcohol is in the 4% to 5% <a href="http://abeerfor.me/#/strengths">abv</a> range. The UK style is attributed to John Gilbert,
owner of Hop Back Brewery, who developed "Summer Lightning" in 1989, which then won several awards and 
inspired numerous imitators.</p>
