<h1>Lager</h1>
<small>Visited: {{Lager.visited}}</small>
<br>

<p>Lager (German: storage) is a type of beer that is fermented and conditioned at low temperatures.
<a href="#/types/pale">Pale lager</a> is the most widely consumed and commercially
available style of beer in the world.</p>

<p>Lagers in certain countries often feature large proportions of adjuncts, usually rice or maize.
Adjuncts entered <a href="#/countries/UnitedStates">United States</a>
brewing as a means of thinning out the body of U.S. beers, balancing the large quantities 
of protein introduced by six-row barley. Adjuncts are often used now in beer making to introduce 
a large quantity of sugar, and thereby increase <a href="#/strengths">ABV</a>,
at a lower price than a formulation using an all-malt grain bill. There are however cases in which 
adjunct usage actually increases the cost of manufacture.</p>
