<h1>Light &amp; Malt</h1>
<small>Visited: {{Light.visited}}</small>
<br>

<p>Light beer refers to beer which is reduced in alcohol content or in calories, compared to regular beers. 
Light beers may be chosen by beer drinkers who wish to manage their alcohol consumption or their calorie intake; 
however, they are sometimes criticised for being less flavourful than full-strength beers, tasting or actually 
being watered down.</p>

<p>Malt beer is a sweet, <a href="#/strengths/low">low-alcohol beer</a> (0%–2.5% ABV) that is brewed like regular beer but
with low or minimal fermentation. To keep the alcohol content low, one of two methods may be used:
either the yeast is added at about 0°C (resulting in an alcohol content of under 0.5% ABV) 
or fermentation is halted at the desired alcohol content (usually in the range of 1 to 2% ABV). 
It is made from barley malt syrup, sugar, yeast, hops, and water. Malt beer is considered to be 
nutritious and is sometimes given to nursing mothers.</p>
