<h1>Pale</h1>
<small>Visited: {{visited}}</small>
<br>

<p>Pale <a href="#/types/lager">Lager</a> is a very pale to golden-coloured beer with a
well attenuated body and a varying degree of noble hop bitterness.</p>

<p>Pale <a href="#/types/ale">ale</a> is a beer made by warm fermentation
using predominantly pale malt. The higher proportion of pale malts results in a lighter colour. 
The term "pale ale" first appeared around 1703 for beers made from malts dried with coke, which resulted
in a lighter colour than other beers popular at that time. Different brewing practices and hop levels
have resulted in a range of taste and strength within the pale ale family.</p>
