<h1>Pilsner</h1>
<small>Visited: {{Pilsner.visited}}</small>
<br>

<p>Pilsner (also pilsener, pilsen or simply pils) is a type of <a href="#/types/lager">pale lager</a>.
It takes its name from the city of Plzeň, Bohemia, Czech Republic, where it was first produced in 1842.
The original Pilsner Urquell beer is still produced there today.</p>

<p>The officials of Pilsen founded a city-owned brewery in 1839, called Měšťanský pivovar
Plzeň (German: Bürger-Brauerei, English: Citizens' Brewery - now Pilsner Urquell), 
which was to brew beer in the pioneering Bavarian style. Brewers had begun aging beer 
made with bottom-fermenting yeasts in caves, which improved the beer's clarity and shelf-life.</p>

<p>The combination brighter malt prepared by English technology, Pilsen's remarkably soft water,
local Saaz noble hops from nearby Žatec and Bavarian-style lagering produced a clear, 
golden beer that was regarded as a sensation.</p>
