<h1>Porter</h1>
<small>Visited: {{Porter.visited}}</small>
<br>

</p>Porter is a dark style of beer originating in London in the 18th century, descended from 
<a href="http://abeerfor.me/#/types/Brown">brown beer</a>,
a well-hopped beer made from brown malt. The name is thought to come from its popularity with street and river porters.</p>

<p>The history and development of <a href="http://abeerfor.me/#/types/Stout">stout</a> and porter are intertwined.
The name "stout" for a dark beer is believed to have come about because a strong porter may be called "Extra Porter"
or "Double Porter" or "Stout Porter". The term "Stout Porter" would later be shortened to just "Stout". 
For example, Guinness Extra Stout was originally called "Extra Superior Porter" and was only given 
the name Extra Stout in 1840.</p>
