<h1>Seasonal</h1>
<small>Visited: {{visited}}</small>
<br>

<p>Seasonal beers are beers that are mostly served in a specific season, such as winter, fall, spring and summer beers.
Also, Christmas beers fall into this category.</p>

<ul>
<li>Winter beers include: Darker strong <a href="#/types/Ale">ales</a>, barley wine,
spiced beers, bocks, doppelbocks, <a href="#/types/Stout">stouts</a>, imperial stouts,
<a href="#/types/Porter">robust porters</a>, and
<a href="#/types/White">weizenbock</a>.</li>

<li>Spring beers include: Red <a href="#/types/Ale">ale</a>, Maibocks, Marzens,
dry <a href="#/types/Stout">stout</a>,
abbey beers, Biere de Mars</li>

<li>Summer beers include: Helles, Kolsch, German-style pils, saison, wheat beers, 
<a href="#/types/fruity">fruit-flavored wheat beers</a>,
<a href="#/types/pale">pale</a>,
<a href="#/types/amber">amber</a> &amp;
<a href="#/types/blonde">blonde</a> ales, citrusy-hopped ales</li>

<li>Fall beers include: Oktoberfest, fresh hop <a href="#/types/Ale">ales</a>, big India pale ales,
pumpkin beers, barrel-aged beers fermented on fruit, smoked malt beers, dunkelweizen.</li>
</ul>
