<h1>Seasonal</h1>
<small>Visited: {{Seasonal.visited}}</small>
<br>

<p>Seasonal beers are beers that are mostly served in a specific season, such as winter, fall, spring and summer beers.
Also, Christmas beers fall into this category.</p>

<p>Winter beers include: Darker strong <a href="#/types/Ale">ales</a>, barley wine,
spiced beers, bocks, doppelbocks, <a href="#/types/Stout">stouts</a>, imperial stouts,
<a href="#/types/Porter">robust porters</a>, and
<a href="#/types/White">weizenbock</a>.</p>

<p>Spring beers include: Red <a href="#/types/Ale">ale</a>, Maibocks, Marzens,
dry <a href="#/types/Stout">stout</a>,
abbey beers, Biere de Mars</p>

<p>Summer beers include: Helles, Kolsch, German-style pils, saison, wheat beers, 
<a href="#/types/Fruity">fruit-flavored wheat beers</p>,
<a href="#/types/Pale">pale</a>,
<a href="#/types/Amber">amber</a> &amp;
<a href="#/types/Blonde">blonde</a> ales, citrusy-hopped ales</p>

<p>Fall beers include: Oktoberfest, fresh hop <a href="#/types/Ale">ales</p>, big India pale ales,
pumpkin beers, barrel-aged beers fermented on fruit, smoked malt beers, dunkelweizen.</p>
