<h1>Stout</h1>
<small>Visited: {{Stout.visited}}</small>
<br>

<p>Stout is a <a href="#/types/Dark">dark beer</a> made using roasted malt or roasted barley,
hops, water and yeast.
Stouts were traditionally the generic term for the strongest or stoutest
 <a href="#/types/Porter">porters</a>, typically 7% or 8%, produced by a brewery.
 There are a number of variations including Baltic porter, dry stout and imperial stout. 
 The first known use of the word stout for beer was in a document dated 1677 found in the Egerton Manuscript,
 the sense being that a stout beer was a strong beer not a dark beer.The name porter was first used in 1721
 to describe a dark brown beer that had been made with roasted malts. Because of the huge popularity of porters, 
 brewers made them in a variety of strengths. The beers with higher gravities were called "Stout Porters", 
 so the history and development of stout and porter are intertwined, and the term stout has since 
 become firmly associated with dark beer, rather than just strong beer.</p>
