<h1>Tripel</h1>
<small>Visited: {{Tripel.visited}}</small>
<br>

</p>Tripel is a term used in the Low Countries to describe a strong <a href="#/types/Ale">ale</a>.
The term was notably used in 1956 by the Trappist brewery at Westmalle to rename the strongest beer in their range.
Westmalle Tripel was widely copied by the breweries of <a href="#/countries/Belgium">Belgium</a>,
and in 1987 another Trappist brewery, Koningshoeven in <a href="#/countries/Netherlands">the Netherlands</a>,
also expanded their range with La Trappe Tripel. The term is applied by a range of secular brewers to a strong ale
in the style of Westmalle Tripel. It has become particularly popular among Belgian-influenced craft brewers in the
<a href="#/countries/UnitedStates">United States</a> to describe their strong
<a href="#/types/Pale">pale-colored ales</p>.
