<h1>White</h1>
<small>Visited: {{White.visited}}</small>
<br>

<p>Witbier, white beer, bière blanche, or simply witte is a barley/wheat, 
top-fermented beer brewed mainly in <a href="#/countries/Belgium">Belgium</a> and
<a href="#/countries/Netherlands">the Netherlands</a>.
It gets its name due to suspended yeast and wheat proteins which cause the beer to look hazy, or white, 
when cold. It is a descendant from those medieval beers which were not brewed with hops, but instead
flavoured and preserved with a blend of spices and other plants referred to as "gruit". Gruit is still used 
today, although nowadays the gruit consists mainly of coriander, orange, bitter orange, and hops. 
The taste is therefore only slightly hoppy. The beers have a somewhat sour taste due to the presence 
of lactic acid. In the past, the Belgian wheat beers were much more sour than is the case now. 
The suspended yeast in the beer causes some continuing fermentation in the bottle.</p>
