<h1>Austria</h1>
<small>Visited: {{visited}}</small>
<br>
<p>Austrian beers comes in a wide variety of styles, and many small breweries are scattered across the country,
though a few larger breweries dominate markets. Austrian brewers were never subject to the tight restrictions of 
the Reinheitsgebot, and as a result more variety remains here than
 in  <a href="#/countries/Germany">Germany</a>.
 The most common style of beer is similar to the German Märzen, though the Austrian style is distinct.
</p>
