<h1>Czech Republic</h1>
<small>Visited: {{visited}}</small>
<br>
<p>Beer in Czechia (Czech: pivo) has a long history, with brewing taking place in Břevnov Monastery 
in 993. The city of Brno had the right to brew beer from the 12th century while Plzeň and České Budějovice, 
Pilsen and Budweis in German, had breweries in the 13th century.</p>

<p>The most common Czech beers are <a href="#/types/pale">pale lagers</a>
of <a href="#/types/pilsner">pilsner</a> type, with characteristic transparent
golden colour, high foaminess and lighter flavour. The Czech Republic has the highest beer 
consumption per capita in the world.</p>
