<h1>England</h1>

<small>Visited: {{England.visited}}</small>
<br>

<p>Beer in England pre-dates other alcoholic drinks produced in England, and has been brewed continuously
since prehistoric times. As a beer brewing country, England is known for its top fermented cask beer 
(also called <a href="#/types/ale">real ale</a>) which finishes maturing
in the cellar of the pub rather than at the brewery 
and is served with only natural carbonation.</p>

<p>English beer styles include bitter, mild, brown ale and old ale.
<a href="#/types/stout">Stout</a>, <a href="#/types/porter">Porter</a> and
<a href="#/types/pale">India Pale Ale</a> were also originally brewed in London.
<a href="#/types/lager">Lager</a> style beer has increased
considerably in popularity since the mid 20th century. Other modern developments include consolidation
of large brewers into multinational corporations; growth of beer consumerism; expansion of microbreweries
and increased interest in bottle conditioned beers.</p>
