<h1>France</h1>
<small>Visited: {{visited}}</small>
<br>
<p>Most beer sold in France is mass-produced, with major breweries having control of over 90% 
of the market and  <a href="#/types/lager">lagers</a> predominating. There are also distinctive
traditional beer styles, such 
as the top-fermented Bière de Garde. In recent years, France has also seen a proliferation of microbreweries.</p>

<p>Before industrialisation, most beer was brewed in small rural breweries, which catered to the needs
of the local residents. In the early 20th century there were over a thousand breweries in France. 
As rural population declined, these breweries almost disappeared and along with them the tradition and 
diversity of the regional beers, which started to be replaced by larger urban ones.</p>
