<h1>Italy</h1>
<small>Visited: {{Italy.visited}}</small>
<br>
<p>Italy is considered to be part of the wine belt of Europe. Nevertheless, beer, particularly mass-produced 
pale lagers, are common in the country. It is traditionally considered to be an ideal accompaniment to pizza;
since the 1970s, beer has spread from pizzerias and has become much more popular for drinking in other situations.</p>

<p>Since the beginning of the 2000s, there has been a rise in the number of new microbreweries opening. 
The success of this phenomenon is due to the excellent quality of their products. The local materials are 
of good quality and much of the experience derived from wine-making applies to brewing.</p>
