<h1>Mexico</h1>
<small>Visited: {{Mexico.visited}}</small>
<br>

<p>Beer in Mexico has a long history. While Mesoamerican cultures knew of fermented alcoholic 
beverages, including a corn beer, long before the Spanish conquest, European style beer brewed 
with barley was introduced with the Spanish soon after Hernán Cortés’ arrival. Production of 
this beer here was limited during the colonial period due to the lack of materials and severe 
restrictions and taxes placed on the product by Spanish authorities. After the Mexican War of 
Independence, these restrictions disappeared, and the industry was permitted to develop. 
However, the arrival of German immigrants and the short-lived empire of Austrian Maximilian
I in the 19th century provided the impetus for the opening of many breweries in various
parts of the country. By 1918, there were 36 brewing companies, but over the 20th century,
the industry consolidated until today, only two corporations, Grupo Modelo and FEMSA control 
90% of the Mexican beer market. This industry is one of the most prevalent in the country, 
with over 63% of the population buying one brand or another. Beer is also a major export for
the country, with most going to the <a href="#/country/UnitedStates">United States</a>, but is available in over 150 countries in
the world.</p>
