<h1>Netherlands</h1>
<small>Visited: {{visited}}</small>
<br>

<p>Beer in the Netherlands is known for the <a href="#/types/pale">pale lagers</a>,
especially Heineken and Grolsch, which are exported globally. Grolsch is the leading import 
<a href="#/types/lager">lager</a>
in the United Kingdom. Heineken is the world's third-largest brewer of beer, 
after Anheuser-Busch InBev and SABMiller.</p>

<p>While pale lager makes up the majority of beer production and consumption in the Netherlands
(95% according to the Centraal Brouwerij Kantoor), most Dutch brewers also brew specials. 
The most common is '<a href="#/types/white">witbier</a>' (white beer).
Also Bok, brewed in Autumn and Spring, a tradition closely related to German Bock beer, 
is an often brewed special.</p>

<p>The Netherlands exports the largest proportion of beer of any country in the world 
- approximately 50% of production, according to The Brewers of Europe. In 2004, 
almost 1,300 million litres were exported out of a total production of 2,300 million litres.</p>
