<h1>Scandinavia (Sweden, Norway, Finland, Denmark)</h1>
<small>Visited: {{Scandinavia.visited}}</small>
<br>

<p>Beer in Sweden has a history that can be traced to the Viking period. 
It is known, through old writings such as Hávamál and others, that the Viking 
culture used brewing to produce <a href="#/types/ale">ale</a> and mead.
Through the centuries since and up 
until the 19th century, brewing was mostly a matter of production for household needs.
The beer was usually weak in alcoholic content and used as an everyday beverage. For 
celebrations and feasts, stronger "feast-beer" and potent mead was brewed.</p>

<p>Beer in Norway has a long history, going back at least 1000 years. Until around 200 
years ago no farm was complete without a brewhouse. From the early 20th century brewing
was industrialized and home brewing outlawed. Since then, significant consolidation in
the brewing sector has reduced the number of major breweries to just a handful. With the 
exception of the malty juleøl (<a href="#/types/Seasonal">Christmas beer</a>),
most beer styles brewed in Norway today 
trace their ancestry to central Europe.</p>

<p>Finland has a long history of beer dating back to the Middle Ages. The oldest
still-existing commercial brewery in Finland and Nordic countries is Sinebrychoff,
founded in 1819. "Suomalaisen oluen päivä", or the Finnish Beer Day is celebrated 
on the 13th of October to commemorate the founding of Oy Sinebrychoff Ab and the 
birth of Finnish beer.</p> 

<p>Beer in Denmark is dominated by Carlsberg and Tuborg. Since Tuborg was acquired by
Carlsberg in 1970 this has left a near monopoly for Carlsberg. A number of regional 
breweries however managed to survive, and most of them merged to Royal Unibrew in 2005.
Also in recent years a large number of micro breweries have appeared.</p>
