<h1>South America (Argentina, Brazil, Peru, Venezuela)</h1>
<small>Visited: {{visited}}</small>
<br>
<p>Argentina may not be known for its beer, at least not in comparison to its wine,
but much like the rest of the world it’s got its fair share of home-grown breweries.</p> 

<p>Brazil is the world's third largest market for beer with over 13.2 billion litres 
produced in 2012 and annual per capita consumption of 62,2 litres. The tradition of 
brewing in Brazil dates back to German immigration in the early nineteenth century.
The first breweries date from the 1830s, although the brand Bohemia is claimed to be 
the first Brazilian beer, with production starting in 1853 in the city of Petrópolis, 
Rio de Janeiro.</p>

<p>>While pisco is Peru’s national drink and certainly claims more plaudits than Peru’s 
frankly average beers, it can’t match cerveza in terms of sheer popularity. In Peru, 
beer is the drink of the masses: it’s cheap, it’s plentiful and it’s communal.</p>

<p>Beer is a popular beverage in Venezuela. The country produces a variety of beers
and beer related products, and though not very varied, they are considered as very good
quality beers by many Venezuelans. Beer production in Venezuela started in 1925 with 
Cerveza Zulia which quickly became the most popular beer. Before that date, beers were 
imported from Brazil (particularly Brahma) and Europe (Heineken and others).</p>
