<h1>Spain & Portugal</h1>

<small>Visited: {{SpainPortugal.visited}}</small>
<br>

<p>Although Spain is traditionally known as a land of wine drinkers, more and more 
people are beginning to drink beer instead. It is thought that this is down to the
fact that the country has seen a large number of microbreweries open, particularly 
in areas like Catalonia. These microbreweries are helping the industry to grow and
transform. The microbrewery owners are getting more creative with hop combinations 
and spices, giving Spanish beer a unique flavour that it has lacked in the past.</p>

<p>Beer in Portugal has a long history, going as far back as the time of the ancient
Roman province of Lusitania, where beer was commonly made and drunk. Portugal is among
the 11 largest beer producers in Europe, and is the 7th largest European exporter of
the product.</p>

<p>Brewing in Portugal was long dominated by two companies — Unicer -
Bebidas de Portugal, S.A. and Sociedade Central de Cervejas, S.A. They were 
created from the remains of well-established Portuguese brewers after the 1974
military coup, when the industry was nationalised. Both were privatised in the 
1990s. Between them, they control more than 90% of the Portuguese beer market.</p>
