<h1>United States</h1>
<small>Visited: {{visited}}</small>
<br>

<p>Beer in the United States is manufactured by more than 3,000 breweries, which 
range in size from industry giants to brew pubs and microbreweries. The United 
States produced 196 million barrels of beer in 2012, and consumes roughly 28 US gallons
(110 L) of beer per capita annually. In 2011, the United States was ranked fifteenth in 
the world in per capita consumption, while total consumption was second only to China.</p>

<p>Although beer was a part of colonial life in the United States, the passing of the 
Eighteenth Amendment to the United States Constitution in 1919 prohibited the sale 
of alcoholic beverages and forced nearly all American breweries to close. After the
repeal of Prohibition, the industry consolidated into a small number of large-scale 
breweries. Many of the big breweries that returned to producing beer after Prohibition, 
today largely owned by international conglomerates like Anheuser-Busch InBev or
SABMiller, still retain their dominance of the market in the 21st century. However,
the majority of the new breweries that have opened in the U.S. over the past three 
decades have been small breweries and brewpubs, which are often termed "craft breweries"
to differentiate them from the larger and older breweries.</p>
