<h1>
Africa
</h1>
<small>Visited: {{countries[id].visited}}</small>
<br>
<p>Beer in Africa, is produced commercially in most African countries, and varieties of beer are also made by 
indigenous tribes. Beer is served in a range of locales, from neighbourhood shebeens to upscale bars.
Many countries have standardized beer bottle sizes, which are cleaned and re-used, and so when buying beer at
a store often people must pay a deposit on the bottle as well as the price of the beer. South Africa consumes 
the most beer of any African country, with an average of 60 litres of beer consumed per person annually.</p>

<p>The brewing of traditional beer is a common practice among Africans in rural areas. Varieties and types of beer
depend on local customs and resources. Among various beers brewed locally are honey beers and ginger beers. A 
typical alternative to glass-bottle beers is local beer sold in tetra-pak style paper cartons.</p>
