<div id="AgeDiv" class="agegateway" ng-controller="AgeGatewayCtrl">
	<div class="col-xs-12 col-md-4 col-md-offset-4" style="text-align: center">
		<div>
			<img ng-src="images/logoSmaller.png"><br><br>
		</div>

		<div ng-style="{color:'white'}">
			<p ng-style="{'font-size': '1.5em'}">
				Select your country
			</p>
		</div>

		<div>
			<select class="form-control"
					ng-style="{height: '60px', 'font-size':'1.2em'}" ng-model="country"
					ng-options="country.name for country in flatCountries"></select><br><br>
		</div>

		<div ng-style="{color:'white'}"><p ng-style="{'font-size': '1.5em'}">
			Date of Birth</p></div>

		<div>
			<input ng-model="day" type="text" class="form-control" style="width: 25%"
				   placeholder="DD" maxlength="2" required>
			<input ng-model="month" type="text" class="form-control" style="width: 25%"
				   placeholder="MM" maxlength="2" required>
			<input ng-model="year" type="text" class="form-control" style="width: 47%"
				   placeholder="YYYY" maxlength="4" min="1900" max="2014"
				   required>
		</div>

		<div>
			<button type="button" class="btn btn-primary btn-lg"
					ng-style="{width:'100%','font-size':'1.2em'}" ng-click="checkAge()">Enter Site
			</button>
		</div>
	</div>
</div>
