<div id="AgeDiv" class="container" ng-controller="AgeGatewayCtrl">
<div class="row">
    <img ng-src="images/logoSmaller.png">
</div>

    <div class="row">
        <select class="form-control center-block" ng-style="{width: '200px'}" ng-model="country" ng-options="country.name for country in flatCountries" ng-change="countryClick(selectedCountry)"></select>
    </div>

   <div class="row">
        <input class="form-control center-block" ng-model="day" type="text" class="form-control" placeholder="DD" maxlength="2" ng-style="{width:'50px'}"required>
        <input class=" form-control center-block" ng-model="month" type="text" class="form-control" placeholder="MM" maxlength="2" ng-style="{width:'50px'}" required>
        <input class="form-control center-block" ng-model="year" type="text" class="form-control" placeholder="YYYY" maxlength="4" ng-style="{width:'50px'}" required>
   </div>
<div class="row center-block">
    <button type="button" class="btn btn-primary btn-lg center-block" ng-style="{width:'200px'}" ng-click="checkAge()">Enter Site </button>
</div>

</div>
