<h1>Ale</h1>
<small>Visited: {{ale.visited}}</small>
<br>

<p>Ale is a type of beer brewed from malted barley using a warm fermentation with a strain of brewers' yeast. 
Compared to <a href"http://abeerfor.me/#/types/Lager">lager yeasts</a>, ale yeast ferments more quickly, and
often produces a sweeter, 
fuller-bodied and fruitier taste. Most ales contain hops, which help preserve the beer and impart 
a bitter herbal flavour that balances the sweetness of the malt.</p>

<p>Historically the terms beer and ale respectively referred to drinks brewed with and without hops.</p>

<p>Ale has often now come to mean a bitter-tasting barley beverage fermented at room temperature.
In some British usage, however, in homage to the original distinction, the term is only used in compounds 
such as "<a href"http://abeerfor.me/#/types/Pale">pale ale</a>", or regular ale, a term adopted to differentiate these products from the pressurised 
beers developed by industrial brewers in the 1960s, and used of warm-fermented unpasteurised ales served 
from a cask (though not <a href"http://abeerfor.me/#/types/Stout">stout</a> or 
<a href"http://abeerfor.me/#/types/Porter">porter</a>).</p>
