<h1>Asia</h1>

<small>Visited: {{countries[id].visited}}</small>
<br>

<p>Beer in Asia began with Asia's first modern brewery in 1855 which was built entirely using European brewing technology.
It was set up to supply the British in India by Edward Dyer at Kasauli in the Himalayan Mountains under the name Dyer 
Breweries. The company still exists and is known as Mohan Meakin Limited, which today comprises a large group of 
companies involved in many industries.</p>

<p>In the late 1820s, Edward Dyer moved from England to set up the first brewery in India (later incorporated as 
Dyer Breweries in 1855) at Kasauli in the Himalayan Mountains. The Kasauli brewery launched India's and indeed Asia's 
first beer, Lion, which was in great demand by the thirsty British administrators and troops stationed in the sweltering 
heat of India. Lion was much appreciated as a beer, and one famous poster featured a satisfied British Tommy declaring,
"as good as back home!".</p>
