<h1>Australia</h1>

<small>Visited: {{countries[id].visited}}</small>
<br>

<p>Beer arrived in Australia at the beginning of British colonisation. In 2004 Australia was ranked fourth internationally 
in per capita beer consumption, at around 110 litres per year; although, the nation ranked considerably lower in terms 
of total per capita alcohol consumption. The most popular beer style in modern Australia is  
<a href="http://abeerfor.me/#/types/lager">lager</a>.</p>

<p>The oldest brewery still in operation is the Cascade Brewery, established in Tasmania in 1824. The largest 
Australian-owned brewery is the family-owned Coopers Brewery, as the other two major breweries Foster's Group and 
Lion Nathan are owned by the British-South African SABMiller and the Japanese Kirin Brewing Company, respectively.</p>

<p>Within an alcoholic beverage market worth some $16.3 billion, beer comprises about 48% compared to wine at 29% 
and spirits at 21%. Within the beer sector, premium beers have a 7.8% share of the market; full strength beer 
has 70.6%; mid-strength holds 12%; and light beer has 9.6%. 85% of beer is produced by national brewers, the 
remainder by regional or microbreweries. Microbreweries manufacturing less than 30,000 litres receive a 60% 
excise rebate.</p>
