<h1>
    {{beerData.name}}
</h1>

<div class="row">
    <img class="col-lg-4" ng-src="{{beerData.labels.large !== 'null' && beerData.labels.large || defaultImg}}">
    <div class="col-lg-6">
        {{beers[id].description}}
        <table class="table table-bordered">
            <tr>
                <td>{{beerData.abv !=='null' && beerData.abv || '-- '}}% ABV</td>
                <td>{{beerData.ibu !== 'null' && beerData.ibu || '-- '}} IBU</td>
                <td>{{beerData.year !== 'null' && beerData.year || '-- '}} Year</td>

            </tr>
        </table>
    </div>
</div>

<small>Visited: {{beers[id].visited}}</small>

