<div id="wrapper">
    <div class="module" class="btcf">
        <h1>Is it a match?</h1>
        <div class="photo-wrap">
            <div class="photo" style="background:url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTKbzzeXoWqVA_iVqgPfChYOayuc9ldjjDszFPAZdAxukN6kVWmOw') no-repeat;  background-position: center; background-size: cover;
}
}">
            </div>
            <h3>Flower<span class="right">(21)</span></h3>
        </div>
    </div>

    <button class="button" ng-click="btn" class="btn btn-default">
        <h1> Like</h1>
    </button>
    <p>Hold left mouse button on picture to dislike</p>

</div>