<div ng-show=currBeer id="wrapper">
    <div class="module" class="btcf">
        <h1>Is it a match?</h1>
            <img class="photo" ng-src="{{currBeer.labels['large']}}"/>
            </div>
            <h3>Flower<span class="right">(21)</span></h3>
        </div>



    <button class="button" ng-click="dislikeBtn()" class="btn btn-default">
        <h1> No</h1>
    </button>
    <button class="button" ng-click="likeBtn()" class="btn btn-default">
        <h1> Yes</h1>
    </button>



    <p>Hold left mouse button on picture to dislike</p>