<h1>Belgium</h1>
<small>Visited: {{Belgium.visited}}</small>
<br>

<p>Beer in Belgium varies greatly in <a href="http://abeerfor.me/#/types/">type</a>. There are approximately 180 breweries in the country, ranging from 
international giants to microbreweries.</p>

<p>On average, Belgians drink 84 litres of beer each year, down from around 200 each year in 1900. 
Most beers are bought or served in bottles, rather than cans, and almost every style of beer has its own 
particular, uniquely shaped glass or other drinking-vessel. Using the correct glass is considered to improve 
its flavour.</p>

<p>Beer in Belgium dates back to the age of the first crusades in the 1100s, long before Belgium became an 
independent country. Under Catholic church permission, local French and Flemish abbeys brewed and distributed 
beer as a fund raising method. The relatively low-alcohol beer of that time was preferred as a sanitary option
to available drinking water. What are now traditional, artisanal brewing methods evolved, under abbey supervision, 
during the next seven centuries. The Trappist monasteries that now brew beer in Belgium were occupied in the late 
18th century primarily by monks fleeing the French Revolution. However, the first Trappist brewery in Belgium
(Westmalle) did not start operation until 10 December 1836, almost 50 years after the Revolution. That beer was 
exclusively for the monks and is described as "dark and sweet." The first recorded sale of beer 
(a <a href="http://abeerfor.me/#/types/brown">brown beer</a>) was 
on 1 June 1861.</p>
