
<h1>
    {{brewery.name}}
</h1>

<div class="row">
    <img class="col-lg-4" ng-src="{{brewery.images.large !== 'null' && brewery.images.large || defaultImg}}">
    <div class="col-lg-6">
        {{brewery.description}}
        <table class="table table-bordered">
            <tr>
            <tr>
                <td>Established {{brewery.established !=='null' && brewery.established || '-- '}}</td>
                <td>{{brewery.isOrganic === 'true' && '' || 'Not'}} Organic</td>
                <td>Website: <a href={{brewery.website}}>{{brewery.website}} </a></td>
            </tr>
            </tr>
        </table>
    </div>
</div>

<small>Visited: {{breweries[id].visited}}</small>
