<h1>Breweries</h1>
<p class="breweryInfo">A brewery is a dedicated building for the making of beer, though beer can be made at home, and has been for much of beer's history. A company that makes beer is called either a brewery or a brewing company.
The diversity of size in breweries is matched by the diversity of processes, degrees of automation, and kinds of beer produced in breweries. A brewery is typically divided into distinct sections, with each section reserved for one part of the brewing process.
The oldest, still functional, brewery in the world is believed to be the German state-owned Weihenstephan brewery in the city of Freising, Bavaria.
There are many breweries in many different countries.</p>
<p>
    Let's find some breweries. You can search if you want to.
</p>


<div spinner ng-hide="breweries"></div>
<div ng-show="breweries">
<form class="form-inline">
    <input ng-model="query" type="text"
           placeholder="Filter by" autofocus>
</form>
<br>
<div ng-repeat="brewery in breweries| limitTo:40">
    <div class="row">
        <img class="col-md-2" ng-src="{{brewery.images.medium !== 'null' && brewery.images.medium || defaultImg}}">
        <div class="col-md-10">
            <a ng-href="#/breweries/{{brewery.id}}">{{brewery.breweryName}}</a><br>
            <p class="beerDescription">{{brewery.description}}</p>
            <table class="table table-bordered">
                <tr>
                    <td>Established {{brewery.established !=='null' && brewery.established || '-- '}}</td>
                    <td>{{brewery.isOrganic === 'true' && '' || 'Not'}} Organic</td>
                    <td>Website: <a href={{brewery.website}}>{{brewery.website}} </a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>