<h1>Breweries</h1>
<p>
    Let's find some breweries. You can search if you want to.
</p>


<form class="form-inline">
    <input ng-model="query" type="text"
           placeholder="Filter by" autofocus>
</form>
<br>
<div ng-repeat="brewery in breweries| filter: value.description !== null |filter:query | limitTo:10">
    <div class="row">
        <img class="col-md-2" ng-src="{{brewery.largeImgURL !== 'null' && brewery.largeImgURL || defaultImg}}">
        <div class="col-md-10">
            <a ng-href="#/breweries/{{breweries.indexOf(brewery)}}">{{brewery.breweryName}}</a><br>
            <p class="beerDescription">{{brewery.description}}</p>
            <table class="table table-bordered">
                <tr>
                    <td>Established {{brewery.established !=='null' && brewery.established || '-- '}}</td>
                    <td>{{brewery.isOrganic === 'true' && '' || 'Not'}} Organic</td>
                    <td>Website: <a href={{brewery.website}}>{{brewery.website}} </a></td>
                </tr>
            </table>
        </div>
    </div>
</div>