<h1>Canada</h1>
<small>Visited: {{countries[id].visited}}</small>
<br>
<p>Beer in Canada was introduced by European settlers in the seventeenth century, and a number of 
commercial brewers thrived until Prohibition in Canada. Though short-lived, very few brewers survived,
and it was only in the late twentieth century that new breweries opened up. The Canadian Beer industry 
now plays an important role in Canadian identity, though globalization of the brewing industry has seen
the major players in Canada acquired by or merged with foreign companies, notably its three largest beer
producers, Labatt, Molson and Sleeman. The result is that Moosehead has become the largest fully 
Canadian-owned brewer.</p>
