<h1>Caribbean</h1>
<small>Visited: {{Caribbean.visited}}</small>
<br>

<p>The beers of the Caribbean are unique to each island in the region, although many are variances of the same
style. Each island generally brews its own unique  <a href="http://abeerfor.me/#/types/pale">pale lager</a>, 
the occasional <a href="http://abeerfor.me/#/types/stout">stout</a>, and often a 
<a href="http://abeerfor.me/#/strengths/AlcoholFree">non-alcoholic</a>
malta beverage. Contract-brewing of international beers is also common, with Heineken Pilsener and Guinness 
Foreign Extra Stout being the most popular. The beers vary between the islands to suit the taste and the brewing
method used.</p>
