<h1>Germany</h1>

<small>Visited: {{countries[id].visited}}</small>
<br>

<p>Beer is a major part of German culture. For many years German beer was brewed in adherence 
to the Reinheitsgebot order or law which only permitted water, hops, and malt as beer ingredients. 
The order also required that beers not exclusively using barley-malts such as wheat beer must be top-fermented.</p>

<p>Since 1993, the production of beer has been governed by the Provisional German Beer 
Law which allows a greater range of ingredients (only in top-fermenting beers) and additives, 
that have to be completely, or at least as much as possible, removed from the final product.</p>

<p>While the beer market is weaker but more centralized in northern Germany, the south has 
lots of smaller local breweries. Almost half of all German breweries are in Bavaria. In total, 
there are approximately 1,300 breweries in Germany producing over 5,000 brands of beer.</p>
