<h1>Introduction</h1>
<restricted-page></restricted-page>
<p>Welcome to ABEER, the Adaptive Beer Exhibitor and Empirical Recommender. 
In ABEER you can read about beers, breweries, countries, types en strengths. 
Also, the system will provide you some recommendations for beers, based on your browsing behaviour and explicit preferences.</p> The more you interact with the system, the better the recommendations will become. 

<p>Enjoy your beer!</p>

<p class="AgeLimit">You are not allowed to drink alcohol (yet). You can still read the pages and perhaps try some alcohol free beers. And soda is also cool!</p>
