<h1>Ireland</h1>
<small>Visited: {{Ireland.visited}}</small>
<br>

<p>Brewing in Ireland has a long history, and total production of beer stands at over 8 million hectolitres, 
and approximately half the alcohol consumed is beer. <a href="http://abeerfor.me/#/types/lager">Lager</a> 
accounts for 60% of the beer sold, <a href="http://abeerfor.me/#/types/stout">Stout</a> 34% and
the remaining 6% is <a href="http://abeerfor.me/#/types/ale">Ale</a>.</p>

<p>By the beginning of the nineteenth century there were over two hundred breweries in the country, 
fifty-five of them in Dublin. During the nineteenth century the number of breweries fell to about fifty,
and by 2007 only about 12 remained.</p>
