<h1>Nearby Breweries</h1>

<br>
<p>
    In an event of an emergency, it is best to take shelter in a safe place. No place is safer than a Brewery. Look below to find on nearest to you!
</p>

<div spinner ng-hide="country"></div>
<ui-gmap-google-map ng-show="country" id="map" center="map.center" zoom="map.zoom" control="map.control">
    <ui-gmap-markers models="breweryLocs" coords="'self'" icon="'icon'">
    </ui-gmap-markers>
</ui-gmap-google-map>


<div spinner ng-hide="breweryResults"></div>
<div ng-show="breweryResults">

    <br>
    <div ng-repeat="location in breweryResults" class="fade2">
        <div class="row">
            <img class="col-md-2" ng-src="{{location.brewery.images.large !== 'null' && location.brewery.images.large || defaultImg}}">
            <div class="col-md-10">
                <a ng-href="#/breweries/{{location.brewery.id}}">{{location.brewery.name}}</a><br>
                <p class="beerDescription">{{location.brewery.description}}</p>
                <table class="table table-bordered">
                    <tr>
                        <td>Established {{location.brewery.established !=='null' && location.brewery.established || '-- '}}</td>
                        <td>{{location.brewery.isOrganic === 'true' && '' || 'Not'}} Organic</td>
                        <td>Website: <a ng-href={{location.brewery['website']}}>{{location.brewery['website']}} </a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




