<h1>New Zealand</h1>
<small>Visited: {{countries[id].visited}}</small>
<br>
<p>Beer is the most popular alcoholic drink in New Zealand, accounting for 63% of available 
alcohol for sale. New Zealand is ranked 21st in beer consumption per capita, at around 75.5 
litres per person per annum. The vast majority of beer produced in New Zealand is a type of 
<a href="http://abeerfor.me/#/types/lager">lager</a>, either 
<a href="http://abeerfor.me/#/types/pale">pale</a> or 
<a href="http://abeerfor.me/#/types/amber">amber</a> in colour, and between
4% – 5% alcohol by volume. There are also 
around 50 smaller breweries and brewpubs producing a vast range of beer styles, including some 
<a href="http://abeerfor.me/#/types/ale">ales</a>. The two largest breweries in New Zealand, 
Lion Nathan and DB Breweries, control almost
90% of sales by volume between them.</p>

<p>Major ingredients of beer were not introduced to New Zealand until Europeans arrived in the
late-18th century. Captain James Cook brewed a beer flavoured with local spruce tree needles
while visiting New Zealand in 1773 in order to combat scurvy aboard ship.</p>
