<h1>Rate some beers bro</h1>
<p class="BeerInfo">
    Giedo loves Heineken, and that's why he's not allowed to rate beers. But you can, and you should! The more beers you rate, the better your recommendations will be.
    </p>





<form class="form-inline">
</form>
<br>
<div ng-repeat="(index,beer) in beers">
    <div class="row" ng:show="index%3==0" />
        <div class="col-md-4">
            <img popover-placement="right" popover="{{beer.description | limitTo: 140}}..." popover-trigger="mouseenter"
                 class="col-md-6"
                 ng-src="{{beer.labels.medium !== 'null' && beer.labels.medium || defaultImg}}">
            <div class="col-md-6">
                <a class="beername" ng-href="#/beers/{{beer.id}}">{{beer.name}}</a> </br>
                <div ng-hide="beer.rating == null">Your Rating:</div>
                <div ng-show="beer.rating == null"> Know it? Drank it? Rate it!</div>
                <rating ng-model="beer.rating"
                        max="5" readonly="false" on-hover="hoveringOver(value)"
                        on-leave="overStar = null"
                        ng-click="ratingClick(beer,beer.rating)"
                        ></rating>
                <p ng-hide="beer.rating == null">{{beer.rating}} Stars </p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <button type="button" class="btn btn-default" ng-click="goBack()" ng-hide="page==1">Previous Page</button>

    <button type="button" class="btn btn-default" ng-click="goNext()">Next Page</button>

</div>
