<h1>Rate some beers bro</h1>
<p class="BeerInfo">
    Giedo loves Heineken, and that's why he's not allowed to rate beers. But you can, and you should! The more beers you rate, the better your recommendations will be.
    </p>





<form class="form-inline">
</form>
<br>
<div spinner ng-hide="beerRows"></div>
<div ng-show="beerRows">
<div class="row" ng-repeat="row in beerRows">
    <div class="col-md-4" ng-repeat="i in row">
		<div class="beer">
            <img popover-placement="right" popover="{{beers[i].description | limitTo: 140}}..." popover-trigger="mouseenter"
                 class="col-md-6"
                 ng-src="{{beers[i].labels.medium !== 'null' && beers[i].labels.medium || defaultImg}}">
            <div class="col-md-6">
                <a class="beername" ng-href="#/beers/{{beers[i].id}}">{{beers[i].name}}</a> </br>
                <div ng-hide="beers[i].rating == null">Your Rating:</div>
                <div ng-show="beers[i].rating == null"> Know it? Drank it? Rate it!</div>
                <rating ng-model="beers[i].rating"
                        max="5" readonly="false" on-hover="hoveringOver(value)"
                        on-leave="overStar = null"
                        ng-click="ratingClick(beers[i],beers[i].rating)"
                        >
                </rating>
                <p ng-hide="beers[i].rating == null">{{beers[i].rating}} Stars </p>

                <label class="checkbox">
                    <input type="checkbox" ng-model="beers[i].drinkLater" ng-change="drinkLaterClick(beers[i])">
                    Drink later?
                </label>

            </div>
		</div>
    </div>
</div>

<div class="row">
    <button type="button" class="btn btn-default" ng-click="goBack()" ng-hide="page==1">Previous Page</button>

    <button type="button" class="btn btn-default" ng-click="goNext()">Next Page</button>

</div>
  </div>
