<h1>Romania</h1>
<small>Visited: {{countries[id].visited}}</small>
<br>
<p>Beer in Romania comes from the long tradition of Romanian brewing, being introduced 
in Transylvania by the German colonists (Transylvanian Saxons) and in Moldavia by cultural
connections with Poland.</p>

<p>A national association of beer with mititei came into existence during the 1877 Independence
War of Romania and after that it saw a spread of beer pubs throughout the Romanian Kingdom.
The beer pubs (berării) became a place of social and business meetings for the Romanian urban
middle-class. Currently, Romanians are amongst the heaviest beer drinkers in the world, with
an annual consumption of over 100 litres per capita in 2007.</p>

<p>Romanian law considers beer and wine to be foodstuffs and therefore they are not
subject to the usual tariffs and restrictions imposed upon alcoholic beverages.</p>
