<h1>Slovakia</h1>
<small>Visited: {{Slovakia.visited}}</small>
<br>

<p>Beer in Slovakia (Slovak: pivo) has been produced and consumed, at least since the 15th
century. Together with the neighbouring 
<a href"http://abeerfor.me/#/country/CzechRepublic">Czech Republic</a>, with whom it has a 
shared and
intertwined history, Slovakia has a number of breweries and a rich beer culture.
Brews in Slovakia usually range between 3.8 and 5.0% alcohol content, and are classified 
further by its appearance of colour with 10* 
(<a href"http://abeerfor.me/#/type/pale">pale</a>) 12.5* and 12* 
(<a href"http://abeerfor.me/#/type/lager">lager</a>) being the most common degrees, however 
<a href"http://abeerfor.me/#/type/dark">dark beers</a> up to 16.5 degrees and above are also
available. Since the fall of 
communism most large commercial breweries are owned by either Heineken or SABMiller.</p>

<p>Slovakia’s oldest brewery was built in the year 1473 by members of the Knights
Templar order in the Banská Bystrica region. This turned out to be a good choice of
location, as the region was a centre for the mining industry and over the years the 
brewery would find success selling to the miners that dominated the work force of 
the area. Miners in the area often refer to beer as liquid bread and they often 
drank it while they worked.</p>
