<h1>Strength</h1>
<small>Visited: {{strengths.visited}}</small>
<br>

<p>Alcohol by volume (abbreviated as ABV, abv, or alc/vol) is a standard measure of how much alcohol (ethanol) 
is contained in an alcoholic beverage (expressed as a percentage of total volume). 
It is defined as the number of millilitres of pure ethanol present in 100 millilitres of solution at 20 °C.</p>

<p>The strength of beer is usually around 4% to 6% alcohol by volume (abv) although it may vary between
0.5% (de-alcoholized) and 20%, with some breweries creating examples of 40% abv and above in recent years.</p>

<p>The alcohol in beer comes primarily from the metabolism of sugars that are produced during fermentation.
The quantity of fermentable sugars in the wort and the variety of yeast used to ferment the wort are the
primary factors that determine the amount of alcohol in the final beer. Additional fermentable sugars are
sometimes added to increase alcohol content, and enzymes are often added to the wort for certain styles 
of beer (primarily <a href="http://abeerfor.me/#/types/light">"light" beers</a>) to convert more complex 
carbohydrates (starches) to fermentable sugars.
Alcohol is a by-product of yeast metabolism and is toxic to the yeast; typical brewing yeast 
cannot survive at alcohol concentrations above 12% by volume. Low temperatures and too little 
fermentation time decreases the effectiveness of yeasts and consequently decreases the alcohol content.</p>

<p>We categorize the different strengths in the following categories:</p>
<ul>
<li><a href="http://abeerfor.me/#/strengths/alcholfree">Alcohol free</a></li>
<li><a href="http://abeerfor.me/#/strengths/low">Low (1-4%)</a></li>
<li><a href="http://abeerfor.me/#/strengths/typical">Typical (4-6%)</a></li>
<li><a href="http://abeerfor.me/#/strengths/high">High (6-10%)</a></li>
<li><a href="http://abeerfor.me/#/strengths/extreme">Extremely High (>10%)</a></li>
</ul>


