<h1>Type</h1>
<small>Visited: {{visited}}</small>
<br>

<p>Beer style or beer type is a term used to differentiate and categorize beers by factors such as colour, 
flavour, strength, ingredients, production method, recipe, history, or origin.</p>

<p>The modern concept of beer style is largely based on the work of writer Michael Jackson in his 1977
book The World Guide To Beer in which he categorised beers from around the world into style groups
according to local customs and names. In 1989, Fred Eckhardt furthered Jackson's work publishing The 
Essentials of Beer Style. Although the systematic study of beer styles is a modern phenomenon, 
the practice of distinguishing between different varieties of beer is ancient, dating to at least 2000 BC.</p>

<p>The study of what constitutes a beer's style may involve provenance, local tradition, ingredients,
and/or empirical impression, which is conventionally broken down into several elements; typically - aroma,
appearance, flavour and mouthfeel. The flavour may include the degree of bitterness of a beer due to bittering
agents such as hops, roasted barley, or herbs; and the sweetness from the sugar present in the beer.</p>

<p>The beers in our recommender are of the following types:</p>
<ul> 
<li><a href="#/types/ale">Ale</a></li>
<li><a href="#/types/amber">Amber</a></li>
<li><a href="#/types/blonde">Blonde</a></li>
<li><a href="#/types/drown">Brown</a></li>
<li><a href="#/types/Dark">Dark</a></li>
<li><a href="#/types/Fruity">Fruity</a></li>
<li><a href="#/types/Golden">Golden</a></li>
<li><a href="#/types/Lager">Lager</a></li>
<li><a href="#/types/Light">Light &amp; Malt</a></li>
<li><a href="#/types/Pale">Pale</a></li>
<li><a href="#/types/Pilsner">Pilsner</a></li>
<li><a href="#/types/Porter">Porter</a></li>
<li><a href="#/types/Seasonal">Seasonal</a></li>
<li><a href="#/types/Stout">Stout</a></li>
<li><a href="#/types/Tripel">Tripel</a></li>
<li><a href="#/types/White">White</a></li>
</ul>
